/* cdn ubuntu font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
i{
    color: #fff;
    font-size: 22px;
    transition: 0.2s;
}
li{
    list-style: none;
}
input{
    border: none;
    background: none;
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
.hd{
    position: absolute;
    left: -1px;
    visibility: hidden;
    overflow: hidden;
}
input:focus, button:focus, textarea:focus{
    outline: none;
}
#header{
    background-color: #0c2461;
    width: 100px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5000;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}
#header > .nav-open-btn, .nav-item{
    margin-bottom: 30px;
    background-color: rgba(30,155,153,0.2);
    padding: 15px;
    border-radius: 10px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
#header > .nav-open-btn:hover, .nav-item:hover,
          .nav-open-btn:active, .nav-item:active{
    background-color: rgba(21, 110, 108, 0.2);
}
#header > .nav-open-btn:active i, .nav-item:active i{
    color: #78e08f;
    transition: none;
}
#main{
    width: calc(100vw - 100px);
    height: 100vh;
    position: relative;
    left: 100px;
    padding: 25px 35px;
}
.search-box{
    position: relative;
    display: flex;
    align-items: center;
}
.search-box button i{
    color: #0a3d62;
    margin-right: 10px;
}

.search-box #search-input.open{
    width: 50%;
    padding: 5px 10px;
    transition: 0.3s;
    border: 2px solid #0a3d62;
}
.search-box #search-input.open::placeholder{
    font-size: 16px;
}
.search-box #search-input{
    width: 0px;
    border-radius: 15px;
    height: 50px;
    border: 2px solid #fff;
    transition: 0.3s;
}
.search-box #search-input::placeholder{
    font-size: 0px;
}
.main-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-top .main-title{
    font-weight: 500;
    color: #0a3d62;
    margin: 25px 0; 
}
.main-top #open-btn{
    padding: 10px 35px;
    background-color: #fff;
    border-radius: 25px;
    border: 1.5px solid rgba(200,200,200,0.5);
    color: #4a69bd;
    font-weight: bold;
    letter-spacing: 0.8px;
}
.main-top #open-btn:active{
    background-color: #4a69bd;
    border-color: #4a69bd;
    color: #fff;
}
.main-bottom{
    display: flex;
    justify-content: space-between;
}
#todolist{
    width: 70%;
    margin-right: 30px;
}
#todolist .list-item{
    border-bottom: 1px solid rgba(200,200,200,0.5);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    font-size: 14px;
    background-color: #fff;
    transition: 0.2s;
    cursor: pointer;
}
#todolist .list-item:hover{
    background-color: rgba(200,200,200,0.1);
}
#todolist .list-item span{
    justify-self: flex-end;
    margin-left: auto;
}
#todolist .list-item input{
    margin-right: 10px;
}
.detail-box{
    border: 1px solid rgba(200,200,200,0.5);
    width: 30%;
    height: 100%;
    min-height: 500px;
    border-radius: 20px;
    padding: 15px 35px;
    display: flex;
    flex-direction: column;
}
.detail-box .detail-box__header{
    border-bottom: 2px solid #0a3d62;
    padding-bottom: 15px;
    min-height: 70px;
    margin-bottom: 25px;
}
.detail-box .todolist-title{
    color: #0a3d62;
    word-break: break-all;
}
.detail-box .todolist-date{
    font-size: 14px;
    color: #3c6382;
    word-break: break-all;
}
.detail-box span{
    font-size: 16px;
    color: #3c6382;
    padding-bottom: 10px;
}
.detail-box .description-text{
    font-size: 14px;
    line-height: 22px;
    word-break: break-all;
    height: 200px;
}
.detail-box #update-title{
    width: 100%;
    font-size: 25px;
    color: #0a3d62;
    font-weight: bold;
    border: 1px solid rgba(200,200,200,0.5);
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.2s;
    display: none;
}
.detail-box #update-desc{
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    border: 1px solid rgba(200,200,200,0.5);
    padding: 15px;
    transition: 0.2s;
    border-radius: 5px;
    display: none;
}
.detail-box .status-text{
    font-size: 14px;
    line-height: 22px;
    height: 50px;
}
.update-btn, .updateBtn{
    background-color: #78e08f;
    padding: 15px;
    border-radius: 10px;
}
.delete-btn{
    background-color: #e55039;
    padding: 15px;
    border-radius: 10px;
}
#create-item{
    padding: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    background-color: #fff;
    width: 500px;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: none;
}
#create-item h2{
    margin-bottom: 50px;
}
#create-item #create-item-close-btn i{
    color: #0c2461;
    font-size: 26px;
    padding: 10px;
    position: absolute;
    right: 15px;
    top: 10px;
    transition: 0.2s;
}
#create-item #create-item-close-btn i:active{
    opacity: 0.7;
}
#create-item li{
    margin: 15px 0;
}
#create-item label{
    display: block;
    padding-bottom: 10px;
}
#create-item input {
    border: 1px solid rgba(200,200,200,0.5);
    padding: 10px 15px;
    width: 100%;
    border-radius: 5px;
    transition: 0.2s;
}
#create-item textarea{
    width: 100%;
    border: 1px solid rgba(200,200,200,0.5);
    padding: 15px;
    transition: 0.2s;
}
input:focus, textarea:focus{
    box-shadow: 0px 0px 3px #4a69bd;
}
#update-item{
    padding: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    background-color: #fff;
    width: 500px;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: none;
}
#update-item h2{
    margin-bottom: 50px;
}
#update-item #update-item-close-btn i{
    color: #0c2461;
    font-size: 26px;
    padding: 10px;
    position: absolute;
    right: 15px;
    top: 10px;
    transition: 0.2s;
}
#update-item #update-item-close-btn i:active{
    opacity: 0.7;
}
#update-item li{
    margin: 15px 0;
}
#update-item label{
    display: block;
    padding-bottom: 10px;
}
#update-item input {
    border: 1px solid rgba(200,200,200,0.5);
    padding: 10px 15px;
    width: 100%;
    border-radius: 5px;
    transition: 0.2s;
}
#update-item textarea{
    width: 100%;
    border: 1px solid rgba(200,200,200,0.5);
    padding: 15px;
    transition: 0.2s;
}
#update-item .update-btn{
    position: absolute;
    right: 25px;
    bottom: 25px;
    transition: 0.2s;
}
#update-item .update-btn:active{
    opacity: 0.7;
}
.create-item-bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(200,200,200,0.5);
    left: 0;
    top: 0;
    z-index: 6000;
    display: none;
}
.create-btn{
    background-color: #4a69bd;
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 56px;
    height: 50px;
    border-radius: 10px;
    transition: 0.2s;
}
.create-btn:active{
    opacity: 0.7;
}